/* custom css and js files included at the top level of your presentation will
 * will be included in your presentation */
.content {
		font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
}

.ruby {
  color: #BB0000;
  font-size: 40pt;
}

.ruby#title {
  font-size: 120%;
}

#me {
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.subsection h1 {
  background-color: #BB0000;
}

.commandline {
  background-color: #CCC;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
}

.commandsmall {
  font-size: 90%;
}

pre.sh_ruby.sh_sourceCode {
  background-color: #F8F8FF;
  border: thin solid #222;
}

.end {
  background-color: #EEEEFF;
}

